body{
 text-align: center;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
 color: white;
}

nav{
    background-color: black;
    color: gray;
    font-size: larger;
}