body{
 text-align: center;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
 color: white;
}

nav{
    background-color: black;
    font-size: larger;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header,footer{
    background-color: red;
    padding: 1rem;
}